body,
html {
  margin: 0;
  padding: 0;
  background-color: #1a1a1a;
  color: white;
  font-family: Arial, sans-serif;
}

#chartdiv {
  width: 100%;
  height: 100vh;
}

.nameModel {
  font-family: Arial, sans-serif;
  color: white;
  text-align: center;
  font-size: 2rem; /* Default size */
}
